POSTGRES_DB=exhibition_app
POSTGRES_USER=exhibition
POSTGRES_PASSWORD=exhibition_dev
POSTGRES_PORT=5432

REDIS_PORT=6379

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

BFF_PORT=3000
SERVER_PORT=3001
